body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   -webkit-animation: animate-fade-in-right 1000ms linear 0ms infinite normal both;
   animation: animate-fade-in-right 1000ms linear 0ms infinite normal both;
}
#wb_Text1 div
{
   text-align: left;
}
#ClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_ClipArt1
{
   margin: 0;
   -webkit-animation: side-fall 5000ms linear 0ms infinite normal both;
   animation: side-fall 5000ms linear 0ms infinite normal both;
}
#wb_Marquee1 
{
   background-color: #82B1E0;
   background-image: none;
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   overflow-y: hidden;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Marquee1 div
{
   text-align: center;
}
#wb_Marquee1
{
   overflow: hidden;
   position: relative;
}
#Marquee1
{
   position: absolute;
   width: 100%;
   height: auto;
   margin: 0;
   padding: 0;
   -webkit-animation: Marquee1-marquee 5000ms linear infinite;
   animation: Marquee1-marquee 5000ms linear infinite;
}
@-webkit-keyframes Marquee1-marquee
{
   0%
   {
   -webkit-transform: translateY(100%);
   }
   100%
   {
   -webkit-transform: translateY(-100%);
   }
}
@keyframes Marquee1-marquee
{
   0%
   {
   transform: translateY(100%);
   }
   100%
   {
   transform: translateY(-100%);
   }
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Button1
{
   box-sizing: border-box;
   line-height: 77px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 50px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   -webkit-animation: transform-swing 1000ms linear 0ms infinite normal both;
   animation: transform-swing 1000ms linear 0ms infinite normal both;
}
#Button2
{
   box-sizing: border-box;
   line-height: 77px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 50px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   -webkit-animation: transform-swing 1000ms linear 0ms infinite normal both;
   animation: transform-swing 1000ms linear 0ms infinite normal both;
}
#Button3
{
   box-sizing: border-box;
   line-height: 77px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 50px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   -webkit-animation: transform-swing 1000ms linear 0ms infinite normal both;
   animation: transform-swing 1000ms linear 0ms infinite normal both;
}
#Button4
{
   box-sizing: border-box;
   line-height: 77px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 50px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   -webkit-animation: transform-swing 1000ms linear 0ms infinite normal both;
   animation: transform-swing 1000ms linear 0ms infinite normal both;
}
#Button5
{
   box-sizing: border-box;
   line-height: 77px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 50px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   -webkit-animation: transform-swing 1000ms linear 0ms infinite normal both;
   animation: transform-swing 1000ms linear 0ms infinite normal both;
}
#Picture1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
